	<section class="block block--skewed-right">
		<header class="block__header">
			<h2 class="block__heading">Hola</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente totam adipisci esse labore quisquam corporis asperiores
				optio, non voluptas ut.</p>

		</header>
	</section>

	<section class="block block--dark block--skewed-left">
		<div class="container">

			<h2 class="block__heading">Hola</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente totam adipisci esse labore quisquam corporis asperiores
				optio, non voluptas ut.</p>
		</div>
	</section>