
	<section class="block container block-domain">
		<header class="block__header">
			<h2>Iniciando a 10$ el mes</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dicta corrupti cupiditate explicabo excepturi placeat
				facilis omnis ex odio vel?</p>
		</header>
		<div class="input-group ">
			<input type="text" class="input" placeholder="Ingresa tu nombre de dominio">
      <button class="btn btn--accent">
        <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
        Buscar</button>
    </div>
    <ul class="list block-domain__prices">
      <li><span class="badge badge--secondary">
        .dex $12
        </span> 
        </li>
      <li>.esd $13</li>
      <li>.xwz $12</li>
      <li>.lex $11</li>
      <li>.com $10</li>
      <li>.mx $16</li>
    </ul>
</section>