<nav class="nav collapsible">
		<a href="/"><img src="images/logo.svg" alt="" class="nav__logo"></a>
      <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="">Inicio</a></li>
      <li class="nav__item"><a href="">Dinámica</a></li>
      <li class="nav__item"><a href="">Cuestionario</a></li>
      <li class="nav__item"><a href="">Autor</a></li>
    </ul>
  </nav>

    <section class="block container block-questions" id="cuestionario">
      
    </section>
    <div class="container questions__button">
      <button class="btn btn-primary btn--accent btn--resultados" id="mostrarResultados">Mostrar Resultado</button>
    </div>
    <div class="container container--chart">
      <canvas id="graficaResultados"></canvas>
    </div>