
  <nav class="nav collapsible">
		<a href="/"><img src="images/logo.svg" alt="" class="nav__logo"></a>
      <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="">Inicio</a></li>
      <li class="nav__item"><a href="">Dinámica</a></li>
      <li class="nav__item"><a href="">Cuestionario</a></li>
      <li class="nav__item"><a href="">Autor</a></li>
    </ul>
  </nav>
  <section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
      <header class="block__header hero__content">
        <h1 class="block__heading">Cloud host</h1>
        <p class="hero__tagline">Lanza una aplicación en menos de 30 segundos</p>
        <a href="#domain-section" class="btn btn--accent btn--stretched">Iniciemos</a>
      </header>
      <img class="hero__image" src="images/banner.png" alt="">
    </div>
  </section>

  <!-- Dominio -->
	<section class="block container block-domain" id="domain-section">
		<header class="block__header">
			<h2>Iniciando a 10$ el mes</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dicta corrupti cupiditate explicabo excepturi placeat
				facilis omnis ex odio vel?</p>
		</header>
		<div class="input-group ">
			<input type="text" class="input" placeholder="Ingresa tu nombre de dominio">
      <button class="btn btn--accent">
        <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
        Buscar</button>
    </div>
    <ul class="list block-domain__prices">
      <li><span class="badge badge--secondary">
        .dex $12
        </span> 
        </li>
      <li>.esd $13</li>
      <li>.xwz $12</li>
      <li>.lex $11</li>
      <li>.com $10</li>
      <li>.mx $16</li>
    </ul>
</section>
  
  <!-- Planes -->
  
	<section class="block container block-plans">
	
		<div class="grid grid--1x3">
      	<!-- Plan 1 -->
			<div class="plan">
				<div class="card card--secondary">
					<header class="card__header">
						<h3 class="plan__name">Inicial</h3>
						<span class="plan__price">$10</span>
          <span class="plan__billing-cycle">/mensual</span>
          <span class="badge badge--secondary badge--small">10% off</span>
          <span class="plan__description">Empieza de una manera sencilla en la nube</span>
        </header>
        <!-- Card body -->
				<div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Paginas web ilimitadas</li>
            <li class="list__item">Ancho de banda ilimitado</li>
            <li class="list__item">SSD de 100 GB</li>
            <li class="list__item">4GB de RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Comprar ahora</button>
        </div>
			</div>
		</div>

    <!-- Plan 2 -->
<div class="plan plan--popular">
			<div class="card card--primary">
				<header class="card__header">
					<h3 class="plan__name">Inicial</h3>
					<span class="plan__price">$10</span>
          <span class="plan__billing-cycle">/mensual</span>
          <span class="badge badge--primary badge--small">10% off</span>
          <span class="plan__description">Empieza de una manera sencilla en la nube</span>
        </header>
        <!-- Card body -->
				<div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Paginas web ilimitadas</li>
            <li class="list__item">Ancho de banda ilimitado</li>
            <li class="list__item">SSD de 100 GB</li>
            <li class="list__item">4GB de RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Comprar ahora</button>
        </div>
			</div>
		</div>


    <!-- Plan 3 -->
    <div class="plan">
			<div class="card card--secondary">
				<header class="card__header">
					<h3 class="plan__name">Inicial</h3>
					<span class="plan__price">$10</span>
          <span class="plan__billing-cycle">/mensual</span>
          <span class="badge badge--secondary badge--small">10% off</span>
          <span class="plan__description">Empieza de una manera sencilla en la nube</span>
        </header>
        <!-- Card body -->
				<div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Paginas web ilimitadas</li>
            <li class="list__item">Ancho de banda ilimitado</li>
            <li class="list__item">SSD de 100 GB</li>
            <li class="list__item">4GB de RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Comprar ahora</button>
        </div>
			</div>
		</div>

    </div>

  </section>

  <!-- Seccion de features -->


  <section class="block container">
    <header class="block__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
      </p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
          vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
        />
        <img class="feature__image" src="images/easy@2x.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Simply Fast Websites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
          vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/fast.jpg 1x, images/fast@2x.jpg 2x"
        />
        <img class="feature__image" src="images/fast@2x.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Wordpress Made Easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
          vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x"
        />
        <img class="feature__image" src="images/wordpress@2x.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#clock"></use>
          </svg>
        </span>
        <h3 class="feature__heading">24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
          vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/support.webp 1x, images/support@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/support.jpg 1x, images/support@2x.jpg 2x"
        />
        <img class="feature__image" src="images/support@2x.jpg" alt="" />
      </picture>
    </article>
  </section>

  <!-- Block showcase -->

	<section class="block block--dark block--skewed-right block-showcase">
		<header class="block__header">
			<h2>Control panel amigable con el usuario</h2>
		</header>
		<div class="container grid grid--1x2">
			<img class="block-showcase__image" src="images/ipad.png" alt="Control panel image with information">
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Inicio facil y rapido</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores repellendus nostrum incidunt qui numquam. Sunt nam
                possimus pariatur modi repellendus?</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Integración de git y wp</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores repellendus nostrum incidunt qui numquam. Sunt nam
                possimus pariatur modi repellendus?</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Cambios dinamicos</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores repellendus nostrum incidunt qui numquam. Sunt nam
                possimus pariatur modi repellendus?</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- Testimonial -->


  <section class="block">
    <header class="block__header">
      <h2>Lo que nuestros clientes dicen</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam impedit labore non, ducimus sit eaque!</p>
    </header>
    <div class="container">
      <div class="card testimonial">
		<div class="grid grid--1x2">
			<img src="images/testimonial.jpg" alt="Happy costumer" class="testimonial__image">

      <blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptas natus maiores eius unde dolore
          dolorum modi exercitationem magnam et!</p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Lia Martinez</h3>
              <p class="quote__company">ABC company</p>
            </div>
          </div>
        </footer>
      </blockquote>
      
	  </div>
  </div>
    </div>
  </section>

  <!-- Callout -->
  <div class="container">

    <div class="callout callout--primary callout-signup">
		<div class="grid grid--1x2">
			<div class="callout__content">

				<h2 class="callout__heading">Listo para iniciar</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi sapiente ullam eligendi voluptates voluptatum reiciendis
					reprehenderit atque natus obcaecati accusantium </p>

			</div>
      <a href="" class="btn btn--secondary btn--stretched">Iniciemos</a>
		</div>
	</div>
  </div>

  <!-- Footer -->


  <footer class="block block--dark footer">
    <div class="container footer__sections grid">
        <!-- Primera seccion -->
        <section class="collapsible collapsible--expanded footer__section">
            <header class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">Item 1</h2>

                <svg class="icon icon--white collapsible__chevron">
                  <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content">
              <ul class="list">
                <li><a href="">Uno</a></li>
                <li><a href="">Dos</a></li>
                <li><a href="">Tres</a></li>
              </ul>
            </div>
        </section>
        <!-- Segunda sección -->
          <section class="collapsible  footer__section">
            <header class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">Item 2</h2>

                <svg class="icon icon--white collapsible__chevron">
                  <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content">
               <ul class="list">
                <li><a href="">Uno</a></li>
                <li><a href="">Dos</a></li>
                <li><a href="">Tres</a></li>
              </ul>
            </div>
        </section>
        <!-- Tercera sección -->
        <section class="collapsible  footer__section">
            <header class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">Item 3</h2>

                <svg class="icon icon--white collapsible__chevron">
                  <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content">
               <ul class="list">
                <li><a href="">Uno</a></li>
                <li><a href="">Dos</a></li>
                <li><a href="">Tres</a></li>
              </ul>
            </div>
        </section>
        <!-- Footer brand -->
        <section class="footer__brand">
          <img class="footer__logo" src="images/logo.svg" alt="Imagen con el logo de la marca">
          <p class="footer__copyright">2021 - Derechos reservados</p>
        </section>
    </div>
  </footer>

	<script src="/js/main.js">

	</script>