
	<section class="block block--dark block--skewed-right block-showcase">
		<header class="block__header">
			<h2>Control panel amigable con el usuario</h2>
		</header>
		<div class="container grid grid--1x2">
			<img class="block-showcase__image" src="images/ipad.png" alt="Control panel image with information">
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Inicio facil y rapido</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores repellendus nostrum incidunt qui numquam. Sunt nam
                possimus pariatur modi repellendus?</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Integración de git y wp</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores repellendus nostrum incidunt qui numquam. Sunt nam
                possimus pariatur modi repellendus?</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Cambios dinamicos</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores repellendus nostrum incidunt qui numquam. Sunt nam
                possimus pariatur modi repellendus?</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>