
  <section class="block">
    <header class="block__header">
      <h2>Lo que nuestros clientes dicen</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam impedit labore non, ducimus sit eaque!</p>
    </header>
    <div class="container">
      <div class="card testimonial">
		<div class="grid grid--1x2">
			<img src="images/testimonial.jpg" alt="Happy costumer" class="testimonial__image">

      <blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptas natus maiores eius unde dolore
          dolorum modi exercitationem magnam et!</p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Lia Martinez</h3>
              <p class="quote__company">ABC company</p>
            </div>
          </div>
        </footer>
      </blockquote>
      
	  </div>
  </div>
    </div>
  </section>